.all-thumbnails {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	@media (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		margin-bottom: 40px;
	}
	@media (min-width: 1024px) {
		gap: 30px;
	}
}
