.section {
	&__nav {
		margin: 0 auto;
		width: 120px;
  height: 80px;
		display: flex;
		justify-content: space-around;
  align-items: center;
		cursor: pointer;
		grid-column: 1/-1;
		border: 1px solid red;
	}

	&__nav-icon {
		font-size: 25px;
		color: #ccc;
	}
}
